body {
  font-family: Helvetica, Arial, sans-serif;
  background: url(../img/logo.png) no-repeat right center;
}

textarea, input {
  box-sizing: border-box;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}
